body {
    background-image: url("../images/background.jpg");
    overflow: hidden;
}

main {
    margin-top: 150px;
}

textarea {
    resize: none;
}

.loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}
.loading {
    display: block;
    border: none;
}
#logout {
    position: absolute;
    top: 0;
    right: 10px;
    float: right;
    color: #ffffff;
}

.loginForm, .questionForm, .answerForm  {
    padding: 30px;
    background-color: rgba(0,0,0,0.7);
    margin: 50px;
    color: #ffffff;
}
.answerForm {
    padding-top: 10px;
}

.registrationForm {
    background-color: rgba(0,0,0,0.7);
}

.modalTitle {
    color: #ffffff;
}

.questionList li {
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
}

.questionList li:not(.non-active):hover {
    background-color: rgba(0,0,0,0.9);
}

.questionList {
    width: 700px;
    margin: 50px 50px 50px 5px;
}

.deleteQuestion, .changeQuestion, .makeDisabled, .deleteAnswer, .changeAnswer {
    display: inline-table;
    margin: 0px 5px 0 5px;
}


.actions {
    margin-top: -15px;
    width: 70px;
    float: right;
}

.deleteQuestion:hover, .changeQuestion:hover, .makeDisabled:hover, .changeAnswer:hover, .deleteAnswer:hover {
    color: #ffffff;
}

.question-text, .answer-text {
    font-size: 12pt;
}

.open-question-text {
    font-size: 16pt;
    font-style: italic;
    margin-top: 0;
}


.questionList li a span, .questionList li span.answer-text, .questionList li span.answer-creator{
    width: 350px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}


span.question-creator, span.answer-creator {
    font-size: 8pt;
}

.questionList li a, .answer-text, .answer-creator {
    color: #ffffff;
}

.questionList li.deleted a{
    color: red;
    pointer-events: none;
}

.questionList li.deleted {
    cursor: default;
}

.questionList li.deleted span{
    color: red;
}

.questionList li.non-active{
    background-color: rgba(63, 63, 63, 0.7);
}

.questionList li.non-active:hover{
    background-color: rgba(63, 63, 63, 0.9);
}
.list-group {
    height: 300px;
    overflow: auto;
}
