<div class="row">
    <div class="col-xs-6 col-md-4 add-question-region"></div>
    <div class="col-xs-12 col-md-8">
        <div class="questionList questions-list-region">
            <ul class=" nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#active" aria-controls="active" role="tab" data-toggle="tab">Active</a></li>
                <li role="presentation"><a href="#deleted" aria-controls="deleted" role="tab" data-toggle="tab">Deleted</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="active">

                </div>
                <div role="tabpanel" class="tab-pane" id="deleted">

                </div>
            </div>
        </div>
    </div>
</div>

